/**
 * Elgg Sharemaps plugin
 * @package sharemaps 
 */

 #mapid { border: 3px solid #eee; }

 .leaflet-control-layers-base label {
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.4rem;
}